@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-variablefont_slntwght-webfont.woff2') format('woff2'),
       url('../fonts/inter-variablefont_slntwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
