.SlideBox {
  transition: transform 0.4s;
  transition-timing-function: ease-out;
}
.SlideBox.is-hidden {
  transform: translateX(95%);
  transition: transform 0.6s;
  transition-timing-function: ease-in;
}

.SlideBox-inner {
  background: #fff;
  box-shadow: -2px 2px 3px #0000002;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  opacity: 1;
  display: flex;
}

.SlideBox-toggle {
  z-index: -1;
  position: absolute;
  left:  -28px;
  margin-left: 4px;
  margin-top: 18px;
  top: 0;
  width: 28px;
  height: 69px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: -2px 1px 3px #00000029;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  opacity: 1;
  cursor: e-resize;
}
.SlideBox-toggle span {
  transform-origin: top left;
  left: 0;
  top: 0;
  transform: rotate(-90deg) translateX(-200%);
  display: block;
  height: 100px;
  font: normal normal normal 14px/28px Inter, sans-serif;
}
.SlideBox.is-hidden .SlideBox-toggle {
  cursor: w-resize;
}