.FilterbarExtended {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  z-index: 10;
  background: #F6F5F4;
  left: auto;
  width: 100%;
  @apply px-4 pb-8
}

@media (min-width: 640px) {
  .FilterbarExtended {
    position: absolute;
    width: 300px;
    @apply px-0
  }  
}

.FilterbarExtended-close-button-wrapper {
  padding: 15px 5px;
}
