.filter-bar-inner {
  height: 100vh;
  z-index: 99;
  padding-top: 51px;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  opacity: 1;
  overflow-x: visible;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 324px;
  opacity: 1;
  z-index: 99;
  box-shadow: 0px 3px 6px #00000029;
  background: #F6F5F4 0% 0% no-repeat padding-box;
  /*transition: all 1000ms ease;*/
}

/* Generic items ------------------------------------------------------------*/
.filter-item {
  @apply bg-transparent p-1 border-solid gap-4 text-center;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding:5px 15px 5px 15px;
}

.filter-title {
  /* @apply text-xs text-left pl-4 font-normal */
  text-align: left;
  font: normal normal normal 14px/17px Inter;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  background-color: transparent;
}

.filter-value {
  /* @apply grid grid-cols-1 */
  text-align: left;
  font: normal normal normal 14px/17px Inter;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.filter-form-title {
  @apply text-xl font-bold text-center flex flex-col justify-center
}

.filter-form-values {
  /* @apply text-sm grid grid-cols-3 auto-rows-auto gap-4; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-form-search-container {
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-form-search-container-2 {
  display: flex;
  flex-direction: row;
  border-radius: 0.25em;
  margin-right: 40px;
  padding: 3px;
  padding-left: 8px;
}

.filter-form-search {
  padding: 15px 10px;
  width:300px;
  border: 1px solid #CCCCCC;
}

.form-item {
  display:inline-block;
  width: auto;
  height: auto;
  overflow:hidden;
  font: normal normal normal 14px/17px Inter;
  white-space: nowrap;
  text-overflow:clip;
  border: 1px solid #CCCCCC;
  margin: 0.3em;
  padding: 1em;
  background: white;
  text-align: center;
  border-radius: 0.5em;
}

.form-item-selected {
  color: white;
  font-weight:bolder;
  background-color: #15AEEF;
}

.filter-form-selectie {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.modalbox-bg {
  @apply fixed inset-0 w-screen h-screen flex justify-center align-middle bg-gray-100 bg-opacity-70 box-border z-20
}

.modalbox {
  @apply absolute z-30 w-5/6 bg-white h-3/4 overflow-auto mx-auto top-20 bg-white text-left fixed p-4 rounded-xl;
  /* width: 100vw;
  height: 50vh;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0; */
}

.modal-close {
  position: relative;
  right:0;
  top: 0;
  width: 16px;
  height: 16px;
  color: black;
  background: url('../../../images/211651_close_round_icon.svg') no-repeat fixed center;
}

.closebutton {
  @apply w-16 h-16 bg-green-500 p-4 rounded-xl text-black
}
