
.add-user-form {
    display: flex;
    flex-direction: column;
/*    margin: 2% 0 4% 0;*/
}

.rollen {
    margin: 0 !important;
    padding: 0;
}
.rollen > li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.rollen li {
}

.rollen input[type="radio"] {
    opacity:0.011;
    z-index:100;
    
}

.rollen input[type="radio"]:checked + label {
  background-color: #15AEEF;
}

.rollen label {
/*      padding:5px;
     cursor:pointer;
    z-index:90; */
    background-color: #F6F5F4;
    border: 1px solid #F6F5F4;
}

.rollen label:hover {
    /*  background:#DDD; */
}

.email {
    display: flex;
    flex-direction: column;
}

.rollen .active {
    background-color: #15AEEF;
    color: white
}

.error-message {
    background-color: #F6F5F4;
    border-color: #F6F5F4;
    color: #FD3E48;
    padding-bottom: 2%;
}

.success-message {
    background-color: #F6F5F4;
    border-color: #F6F5F4;
    color: #1FA024;
    padding-bottom: 2%;
}

.save::before {
    content: url('../../images/UserList/save-outline.svg');
    margin-right: 8px;
    margin-left: 5px;

}
