@media(min-width:  640px) {
  .ContentPage {
    padding-left: 324px;
  }
}
.ContentPage-inner {
}

/* Transition */
.ContentPage {
  transition: padding 0.4s;
  transition-timing-function: ease-out;
}
.ContentPage.full-page {
  transition: padding 0.6s;
  transition-timing-function: ease-in;
  padding-left: 0;
}

.ContentPage h1 {
  @apply text-4xl my-2
}

.ContentPage h2 {
  @apply text-2xl my-2
}
