.toggleactive: {
  color: black;
  background-color:white;
}

.togglenotactive: {
  color: white;
  background-color:transparent;
}

.text-menu {
  @apply flex flex-col justify-center text-black hover:text-blue-800 px-6 border-r border-black;
}
.text-menu.is-active {
  color: #15AEEF;
}
.text-menu:last-child {
  @apply border-r-0
}

.Menu {
  opacity: 1;
  bottom: 0;
}

.Menu-inner {
  overflow-x: auto;
  max-width: 100%;
  width: 600px;
}
