.toggleactive: {
  color: black;
  background-color:white;
}

.togglenotactive: {
  color: white;
  background-color:transparent;
}

.text-menu {
  @apply text-black hover:text-blue-800 mr-6;
}
.text-menu.is-active {
  color: #15AEEF;
}

.Menu {
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
