.app {
  overflow-x: hidden;
  font-family: Inter, sans-serif;
  @apply absolute w-screen h-screen z-0 bg-white flex flex-col min-h-screen box-border;
}
/*  */

.gui-layer {
  @apply absolute w-full h-full z-10 bg-transparent;
}

.map-layer {
  @apply fixed w-screen z-0 bg-white;
  height: calc(100% - 60px);
}
@media(min-width: 640px) {
  .map-layer {
    height: 100%;
  }
}
